<!DOCTYPE html>
<html>
<head>
    <title>Cookiecutter templates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/opt/bootstrap.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
<!-- Page content. -->
<ul class="breadcrumb">
    <li><a href="https://diecutter.readthedocs.org">diecutter, templates as a service</a> <span class="divider">/</span></li>
</ul> 
<h1>Welcome to the Cookie forms index!</h1>

<h2>Templates</h2>
<ul>
    <li>
        <a href="http://diecutter.io/sphinx-docs.html">HTML client for Sphinx documentation templates</a>:
        fill in the form and generate Sphinx-based documentation layout.
    </li>
    <li>
        <a href="http://diecutter.io/rawgithub/diecutter/python-startproject/index.html">HTML client to start a new Python app</a>: fill in the form and generate your python app.
    </li>
</ul>

<h2><a name="available-cookiecutters" class="anchor" href="#available-cookiecutters"><span class="octicon octicon-link"></span></a>Available Cookiecutters</h2>

<p>Here is a list of <strong>cookiecutters</strong> (aka Cookiecutter project templates) for you to use or fork.</p>
<p>Make your own, then submit a pull request adding yours to this list!</p>
<h3><a name="python" class="anchor" href="#python"><span class="octicon octicon-link"></span></a>Python</h3>
<ul>
    <li>
        <a href="audreyr/cookiecutter-pypackage/">cookiecutter-pypackage</a>: <a href="https://github.com/audreyr/">@audreyr</a>'s ultimate Python package project
        template.</li>
    <li>
        <a href="sloria/cookiecutter-flask/">cookiecutter-flask</a> : A Flask template with Bootstrap 3, starter templates, and working user registration.</li>
    <li>
        <a href="lucuma/cookiecutter-flask-env/">cookiecutter-flask-env</a>: A lucuma-flavored flask app template.</li>
    <li>
        <a href="marcofucci/cookiecutter-simple-django/">cookiecutter-simple-django</a>: A cookiecutter template for creating reusable Django projects quickly.</li>
    <li>
        <a href="pydanny/cookiecutter-django/">cookiecutter-django</a>: A bleeding edge Django project template with Bootstrap 3, customizable users app, starter templates, and working user registration.</li>
    <li>
        <a href="pydanny/cookiecutter-djangopackage/">cookiecutter-djangopackage</a>: A template designed to create reusable third-party PyPI friendly Django apps. Documentation is written in tutorial format.</li>
    <li>
        <a href="palazzem/cookiecutter-django-cms/">cookiecutter-django-cms</a>: A template for Django CMS with simple Bootstrap 3 template. It has a quick start and deploy documentation.</li>
    <li>
        <a href="openstack-dev/cookiecutter/">cookiecutter-openstack</a>: A template for an OpenStack project.</li>
    <li>
        <a href="sloria/cookiecutter-docopt/">cookiecutter-docopt</a>: A template for a Python command-line script that uses <a href="http://docopt.org/">docopt</a> for arguments parsing.</li>
    <li>
        <a href="wildfish/cookiecutter-django-crud/">cookiecutter-django-crud</a>: A template to create a Django app with boilerplate CRUD around a model including a factory and tests.</li>
    <li>
        <a href="pythonhub/cookiecutter-quokka-module/">cookiecutter-quokka-module</a>: A template to create a blueprint module for Quokka Flask CMS.</li>
    <li>
        <a href="lborgav/cookiecutter-django/">cookiecutter-django-lborgav</a>: Another cookiecutter template for Django project with Booststrap 3 and FontAwesome 4.</li>
</ul><h3>
    <a name="c" class="anchor" href="#c"><span class="octicon octicon-link"></span></a>C</h3>
<ul>
    <li>
        <a href="vincentbernat/bootstrap.c/">bootstrap.c</a>: A template for simple projects written in C with autotools.</li>
    <li>
        <a href="solarnz/cookiecutter-avr/">cookiecutter-avr</a>: A template for avr development.</li>
</ul><h3>
    <a name="common-lisp" class="anchor" href="#common-lisp"><span class="octicon octicon-link"></span></a>Common Lisp</h3>
<ul>
    <li>
        <a href="svetlyak40wt/cookiecutter-cl-project/">cookiecutter-cl-project</a>: A template for Common Lisp project with bootstrap script and Slime integration.</li>
</ul><h3>
    <a name="js" class="anchor" href="#js"><span class="octicon octicon-link"></span></a>JS</h3>
<ul>
    <li>
        <a href="audreyr/cookiecutter-jquery/">cookiecutter-jquery</a>: A jQuery plugin project template based on jQuery
        Boilerplate.</li>
    <li>
        <a href="audreyr/cookiecutter-jswidget/">cookiecutter-jswidget</a>: A project template for creating a generic front-end,
        non-jQuery JS widget packaged for multiple JS packaging systems.</li>
    <li>
        <a href="audreyr/cookiecutter-component/">cookiecutter-component</a>: A template for a Component JS package.</li>
</ul><h3>
    <a name="latexxetex" class="anchor" href="#latexxetex"><span class="octicon octicon-link"></span></a>LaTeX/XeTeX</h3>
<ul>
    <li>
        <a href="larsyencken/pandoc-talk/">pandoc-talk</a>: A cookiecutter template for giving talks with pandoc and XeTeX.</li>
</ul><h3>
    <a name="berkshelf-vagrant" class="anchor" href="#berkshelf-vagrant"><span class="octicon octicon-link"></span></a>Berkshelf-Vagrant</h3>
<ul>
    <li>
        <a href="mahmoudimus/cookiecutter-slim-berkshelf-vagrant/">slim-berkshelf-vagrant</a>: A simple cookiecutter template with sane cookbook defaults for common vagrant/berkshelf cookbooks.</li>
</ul><h3>
    <a name="html" class="anchor" href="#html"><span class="octicon octicon-link"></span></a>HTML</h3>
<ul>
    <li>
        <a href="audreyr/cookiecutter-complexity/">cookiecutter-complexity</a>: A cookiecutter for a Complexity static site with Bootstrap 3.</li>
    <li>
        <a href="relekang/cookiecutter-tumblr-theme/">cookiecutter-tumblr-theme</a>: A cookiecutter for a Tumblr theme project with GruntJS as concatination tool.</li>
</ul>

<h2>About diecutter</h2>
<p>
    Diecutter is an open-source project that allows you to deploy and use
    templates as a service.
</p>
<ul>
    <li><a href="http://diecutter.readthedocs.org">Documentation</a></li>
    <li><a href="http://pypi.python.org/pypi/diecutter">PyPI page</a></li>
    <li><a href="https://github.com/diecutter/diecutter">Code repository</a></li>
    <li><a href="https://github.com/diecutter/diecutter/issues">Bugtracker</a></li>
    <li><a href="https://travis-ci.org/diecutter/diecutter">Continuous integration</a></li>
</ul>

<h2>About cookiecutter</h2>
<p>
    Cookiecutter is an open-source command line interface tools, that
    let you use remote template to bootstrap a project.
</p>
<ul>
    <li><a href="http://cookiecutter.readthedocs.org">Documentation</a></li>
    <li><a href="http://pypi.python.org/pypi/cookiecutter">PyPI page</a></li>
    <li><a href="https://github.com/audreyr/cookiecutter">Code repository</a></li>
    <li><a href="https://github.com/audreyr/cookiecutter/issues">Bugtracker</a></li>
    <li><a href="https://travis-ci.org/audreyr/cookiecutter">Continuous integration</a></li>
</ul>
<!-- End page content. -->
            </div>
        </div>
    </div>
    <!-- Scripts. -->
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/opt/bootstrap.min.js"></script>
</body>
</html>
